

  #container {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .data {
  }

  #blur {
    
  }

  #input {
    display: grid;
    margin: 20px;
    justify-content: center;

  }
  
  .dogImg {
    padding: 10px;
    
  }
  
  #infos {
    width: 100px;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    object-fit: contain;
    margin: 2px;
    text-align: center;
  }
  
  .dogInformation {
    display: flex;
    font-size: 15px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  
  .dogInformation div:nth-child(1){
    display: flex;
    flex-direction: row;
  }
  
  .dogInformation div:nth-child(1) div {
    padding-right: 10px;
  }
  
  .dogInformation div:nth-child(3) {
    display: flex;
    flex-direction: row;
  }
  
  .dogInformation div:nth-child(3) div {
    padding-right: 10px;
  }

  #searchTitle {
    text-align: center;
  }