

  #container {
    margin: 10px;
  }

  #input {
    display: grid;
    margin: 20px;
    justify-content: center;

  }
  
  .dogImg {
    height: 100px;
    padding: 10px;
  }
  
  #infos {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
  }
  
  .dogInformation {
    display: flex;
    font-size: 15px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  
  .dogInformation div:nth-child(1){
    display: flex;
    flex-direction: row;
  }
  
  .dogInformation div:nth-child(1) div {
    padding-right: 10px;
  }
  
  .dogInformation div:nth-child(3) {
    display: flex;
    flex-direction: row;
  }
  
  .dogInformation div:nth-child(3) div {
    padding-right: 10px;
  }

  #searchTitle {
    text-align: center;
  }