.App-header {
}

.App {
  /*background-color: #282c34;*/
}

#welcomeText{
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  text-decoration:solid;
  color: black;
}

#welcomeText > div > div:nth-child(1) {
  font-size: 40px;
  text-align: center;
}

#welcomeText > div > div:nth-child(2) {
  font-size: 60px;
  text-align: center;
}

#welcomeText > div > div:nth-child(3) {
  margin: 20px;
  font-size: 12px;
  text-align: center;
}

